@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    background-image: linear-gradient(rgb(118, 114, 114), grey, white);
    height: 100vh;
    box-sizing: border-box;
}



.container {
    display: flex;
    flex-flow: row wrap;
    /* Permite que los divs se acomoden en filas */
    gap: 2%;
    margin: 5%;
    justify-content: space-around;
    height: fit-content;
}



.column,
.column1,
.column2,
.column3,
.column5,
.column6 {
    width: 18;
    padding: 3%;
    margin: 1px;
    border-radius: 10px;

}

.column4 {
    padding: 20px;
    border-radius: 10px;
}

/* Nuevo contenedor flex para los div internos */
.list-container {
    display: flex;
    /* Pone los div en fila */
    justify-content: space-between;
    /* Distribuye uniformemente */
    gap: 10px;
    /* Espacio entre divs */
    margin-top: 10px;
}

/* Estilos individuales para cada bloque */
.list,
.list1,
.list2,
.list3,
.list4 {
    flex: 1;
    /* Permite que los div ocupen el mismo espacio */
    padding: 10px;
    border-radius: 5px;
    text-align: start;
}




h1,
h2 {
    font-family: "Krona One", serif;
    color: black;

}


h3,
h4 {
    font-family: "Montserrat", serif;
    color: black;
}

/* Ajuste de imagen */
.img_ajuste {
    max-width: 250px;
    width: 90%;
    border-radius: 50%;
    /* Hace que la imagen sea circular */
    object-fit: cover;
    /* Ajusta la imagen dentro del círculo */
    margin: auto;
    /* Centra la imagen */

}

p {
    font-size: 20px;
    /* Cambia el tamaño del texto */

}