@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
}

.container {
    display: flex;
    flex-flow: row wrap;
    margin: 5%;
    gap: 30px;
    justify-content: space-evenly;
    height: fit-content;
    align-items: stretch;
    box-shadow: 5px 5px 20px rgba(47, 9, 104, 0.9);
    background-image: linear-gradient(rgb(118, 114, 114), grey, white);
    padding: 20px;
}


/*class container encabezado*/

.container-head {
    display: flex;
    /* Pone los div en fila */
    justify-content: space-between;
    /* Distribuye uniformemente */
    gap: 10px;
    /* Espacio entre divs */
    height: 350px;
    margin-top: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.column1 {
    width: 80%;
    height: 60%;
    padding: 3%;
    margin: 1px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.column {

    width: 30%;
    height: 75%;
    padding: 3%;
    margin: 1px;
    border-radius: 10px;
}

.container-main {
    display: flex;
    /* Pone los div en fila */
    justify-content: space-around;
    /* Distribuye uniformemente */
    gap: 10px;
    /* Espacio entre divs */
}

.column2,
.column3,
.column5,
.column6 {
    width: 18;
    padding: 3%;
    margin: 1px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

/* Nuevo contenedor flex para los div internos */
.list-container {
    display: flex;
    /* Pone los div en fila */
    justify-content: space-between;
    /* Distribuye uniformemente */
    gap: 10px;
    /* Espacio entre divs */
    margin-top: 10px;
}

/* Estilos individuales para cada bloque */
.list,
.list1,
.list2,
.list3,
.list4 {
    flex: 1;
    /* Permite que los div ocupen el mismo espacio */
    padding: 10px;
    border-radius: 5px;
    text-align: start;
}

.column4 {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}



h1,
h2 {
    font-family: "Krona One", serif;
    color: black;

}


h3,
h4 {
    font-family: "Montserrat", serif;
    color: black;
}

/* Ajuste de imagen */
.img_ajuste {
    max-width: 250px;
    width: 100%;
    border-radius: 90%;
    /* Hace que la imagen sea circular */
    object-fit: cover;
    /* Ajusta la imagen dentro del círculo */
    margin: auto;
    /* Centra la imagen */

}

p {
    font-size: 20px;
    /* Cambia el tamaño del texto */

}